@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/cairo/Cairo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/cairo/Cairo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/cairo/Cairo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/cairo/Cairo-Black.ttf') format('truetype');
}

:root {
  --color-primary: #9f762b;
  --color-primary-light: #ddb43a;
  --color-primary-dark: #9b7029;

  --color-secondary: #163265;
  --color-secondary-light: #274e95;
  --color-secondary-dark: #163265;

  --color-text: #6a6a6d;
  --color-text-light: #8c8c90;
  --color-text-dark: #535259;

  --color-bg: #f4f4f5;
  --color-bg-light: #ffffff;
  --color-bg-dark: #f4f4f5;

  --color-error: #9f2b2b;
  --color-warning: #faad14;
  --color-success: #4e8d12;

  --color-border: #f4f4f5;

  --font-en: Poppins, 'Poppins', Roboto, sans-serif;
  --font-ar: 'Cairo', 'Poppins', sans-serif;
  --font-bebas: 'Bebas Neue', cursive;
  --font-base-size: 16px;
}

.dark {
  --color-text: #d3d3d3;
  --color-text-light: #afafaf;
  --color-text-dark: #fafafa;

  --color-bg: #212121;
  --color-bg-light: #0c0c0c;
  --color-bg-dark: #383838;

  --color-border: #46484a;
}

::selection {
  background-color: var(--color-primary);
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-en);
  font-size: var(--font-base-size);
}
html[dir='rtl'] body,
html[dir='rtl'] {
  font-family: var(--font-ar);
}
.dark,
body {
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  color: var(--color-text-dark);
}

ol,
ul,
dl,
p {
  margin: 0;
  line-height: 1.7;
  list-style: none;
  padding: 0;
}

/* // edit antd components //  */

.ant-drawer-close {
  color: var(--color-text-light);
}

.ant-drawer-close:hover,
.ant-drawer-close:focus {
  color: var(--color-text);
}
